*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section,
footer {
    min-height: 100vh;
    display: flex;
    @media (max-width: 767px) {
        padding: 30px 0 !important;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background: #000;
}

header,
section,
footer {
    z-index: 1;
}

input,
textarea,
button {
    outline: none;
}

button {
    cursor: pointer;
}

canvas {
    display: flex;
    flex: 1 1 auto;
    max-width: 100vw;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.container {
    max-width: 1560px;
    width: 100%;
    flex: 1 1 auto;
    margin: 0 auto;
    padding: 0 20px;
}

._animBtn {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        height: 100%;
        width: 0;
        transition: all .3s;
        background: $btn_color;
        z-index: -1;
    }
    &:hover::after {
        right: auto;
        left: 0;
        width: 100%;
    }
}

._scrollBan {
    overflow: hidden;
}

.clr-mark {
    color: $excretion_color;
}
