// COLORS
$active_color: #B937B2;
$excretion_color: #A0F4FF;
$btn_color: #F4CF49;

// FONTS
$ff: 'Tourney', sans-serif;
// LARGE FONT
$h2-fz: 64px;
$h2-lh: 64px;

$h1-fz: 100px;
$h1-lh: 100px;

$fz-bt: 35px;
$fz-btlh: 45px;

$menu-fz: 20px;
$menu-lh: 112px;

$text_font: 900 28px/45px;



