<section id="about" class="about-section">
    <div class="container">
        <div class="about__content">
            <div class="about__title">
                <h1>Who we are</h1>
            </div>
            <div class="about__info">
                <div class="about__info-photos">
                    <div class="wrapper__photo">
                        <div class="photo">
                            <img class="photo__img" src="./img/person-1.png" alt="photo">
                            <div class="photo__overlay">
                                <h4 class="photo__overlay-name">Sergey Novikov</h4>
                                <span class="photo__overlay-line"></span>
                                <p class="photo__overlay-text">Lead system<br>Analyst & Achitect</p>
                            </div>
                            <div class="lottie-hint"></div>
                        </div>
                    </div>
                    <div class="wrapper__photo">
                        <div class="photo">
                            <img class="photo__img" src="./img/person-2.png" alt="photo">
                            <div class="photo__overlay">
                                <h4 class="photo__overlay-name">Aleksandr Chebelev</h4>
                                <span class="photo__overlay-line"></span>
                                <p class="photo__overlay-text">Lead business Analyst</p>
                            </div>
                            <div class="lottie-hint"></div>
                        </div>
                    </div>
                    <div class="wrapper__photo">
                        <div class="photo">
                            <img class="photo__img" src="./img/person-3.png" alt="photo">
                            <div class="photo__overlay">
                                <h4 class="photo__overlay-name">Pavel Baranov</h4>
                                <span class="photo__overlay-line"></span>
                                <p class="photo__overlay-text">Lead Architect</p>
                            </div>
                            <div class="lottie-hint"></div>
                        </div>
                    </div>
                </div>
                <div class="about__info-text">
                    <p class="about__text">Our team has vast background in developing solutions for large companies like Gazprom, 
                        Rostec, Inline, Megafon, Rostelecom e.t.c. Eventually, we decided to leave limitations of our 
                        former employers behind and move forward faster into dating and online entertainment field.</p>
                </div>
            </div>
        </div>
    </div>
</section>