<section id="experiens" class="experiens-section parallax">
    <div class="container">
        <div class="experiens__content">
            <h2 class="experiens__title">Team experience</h2>
            <p class="experiens__text">Team experienceToday <span class="clr-mark">Underhood</span> develop and support several successful products that occupy leading positions in their market segments, and provide our company with stable income. We stand firmly on our feet and do not depend on external investments, as we earn money on our own.
            Currently we are focusing on our new ambitious B2C project.</p>
        </div>
    </div>
    <img class="experiens__decor" src="./img/planet-img.png" alt="bg">
</section>