<footer id="contacts" class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__get-form">
                <div class="footer_get-form-body">
                    <p class="get__form-text">based on the principles of personal freedom and active communication</p>
                    <button type="submit" class="btn__get _get-footer _animBtn">Get in touch</button>
                </div>
                <div class="footer_get-form-title">
                    <h1>Feel free to join our remote team</h1>
                </div>
                <img class="get__form-decor" src="./img/bg-get-form.png" alt="image">
            </div>
            <div class="footer__logo">
                <object data="./img/svg/logo-footer.svg" type="image/svg+xml" width="100%" height="100%"></object>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-item">
                    <object class="contact__item-icon" data="./img/svg/icon-copyright.svg" type="image/svg+xml" alt="copyright"></object>
                    <span class="contact__item-text">Stackoverflow.com</span>
                </div>
                <div class="footer__contacts-item">
                    <object class="contact__item-icon" data="./img/svg/icon-phone.svg" type="image/svg+xml" alt="phone"></object>
                    <sapn class="contact__item-text">+ 49 172 231 32 07</sapn>
                </div>
                <div class="footer__contacts-item">
                    <object class="contact__item-icon" data="./img/svg/icon-email.svg" type="image/svg+xml" alt="email"></object>
                    <span class="contact__item-text">info@underhood.dev</span>
                </div>
            </div>
        </div>
    </div>
</footer>