<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="logo">
                <a href="#"><img class="logo__img" src="./img/svg/logo.svg" alt="logo"></a>
            </div>
            <nav class="navbar">
                <ul class="menu">
                    <li class="menu__item"><a href="#present" class="menu__link">HOME</a></li>
                    <li class="menu__item"><a href="#about" class="menu__link">WHO WE ARE</a></li>
                    <li class="menu__item"><a href="#experiens" class="menu__link">TEAM EXPERIENCE</a></li>
                    <li class="menu__item"><a href="#philosophy" class="menu__link">OUR PHILOSOPHY</a></li>
                    <li class="menu__item"><a href="#technologies" class="menu__link">TECHNOLOGIES</a></li>
                    <li class="menu__item"><a href="#contacts" class="menu__link">CONTACT</a></li>
                </ul>
            </nav>
            <div class="burger__btn">
                <span></span>
            </div>
        </div> <!--/header__content-->
    </div> <!--/container-->
</header>