<section id="philosophy" class="philosophy-section">
    <div class="container">
        <div class="philosophy__content">
            <h1 class="philosophy__title">Our philosophy</h1>
            <!-- Slider main container -->
            <div class="swiper-container philosophy__slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper philosophy__slider-wrap">
                    <!-- Slides -->
                    <div class="swiper-slide philosophy__slide">
                        <p class="philosophy__slide-text">Lack of time trackers makes work much more comfortable and efficient</p>
                         <!-- BORDERS -->
                        <img class="slide__border slide__border-left" src="./img/svg/left-border.svg" alt="line">
                        <img class="slide__border slide__border-right" src="./img/svg/right-border.svg" alt="line">
                        <img class="slide__border slide__border-top" src="./img/svg/top-border.svg" alt="line">
                        <img class="slide__border slide__border-bottom" src="./img/svg/bottom-border.svg" alt="line">
                    </div>
                    <div class="swiper-slide philosophy__slide">
                        <p class="philosophy__slide-text">Flat organizational structure is more efficient for smooth teamwork</p>
                         <!-- BORDERS -->
                        <img class="slide__border slide__border-left" src="./img/svg/left-border.svg" alt="line">
                        <img class="slide__border slide__border-right" src="./img/svg/right-border.svg" alt="line">
                        <img class="slide__border slide__border-top" src="./img/svg/top-border.svg" alt="line">
                        <img class="slide__border slide__border-bottom" src="./img/svg/bottom-border.svg" alt="line">
                    </div>
                    <div class="swiper-slide philosophy__slide">
                        <p class="philosophy__slide-text">Remote flexible framework provides maximum personal freedom</p>
                        <!-- BORDERS -->
                        <img class="slide__border slide__border-left" src="./img/svg/left-border.svg" alt="line">
                        <img class="slide__border slide__border-right" src="./img/svg/right-border.svg" alt="line">
                        <img class="slide__border slide__border-top" src="./img/svg/top-border.svg" alt="line">
                        <img class="slide__border slide__border-bottom" src="./img/svg/bottom-border.svg" alt="line">
                    </div>
                    <div class="swiper-slide philosophy__slide">
                        <p class="philosophy__slide-text">The secret of success is to develop a product, not just writing a code</p>
                         <!-- BORDERS -->
                        <img class="slide__border slide__border-left" src="./img/svg/left-border.svg" alt="line">
                        <img class="slide__border slide__border-right" src="./img/svg/right-border.svg" alt="line">
                        <img class="slide__border slide__border-top" src="./img/svg/top-border.svg" alt="line">
                        <img class="slide__border slide__border-bottom" src="./img/svg/bottom-border.svg" alt="line">
                    </div>
                    <div class="swiper-slide philosophy__slide">
                        <p class="philosophy__slide-text">Only friendly leadership can create strong development teams</p>
                         <!-- BORDERS -->
                        <img class="slide__border slide__border-left" src="./img/svg/left-border.svg" alt="line">
                        <img class="slide__border slide__border-right" src="./img/svg/right-border.svg" alt="line">
                        <img class="slide__border slide__border-top" src="./img/svg/top-border.svg" alt="line">
                        <img class="slide__border slide__border-bottom" src="./img/svg/bottom-border.svg" alt="line">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination philosophy__pagination"></div>
  
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev philosophy__slide-prev">
                    <svg class="icon__arrow" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.7693 42.0102L28.5638 40.2206L17.5763 29.265H42V26.7336H17.5763L28.5638 15.778L26.7693 13.9886L12.717 28L14.5116 29.7895L26.7693 42.0102ZM16.6142 27.6933V28.308L16.3062 28L16.6142 27.6933ZM0 0V56H56V0H0ZM53.4546 53.4546H2.54544V2.54544H53.4545V53.4546H53.4546Z" fill="black"/>
                    </svg>
                </div>
                <div class="swiper-button-next philosophy__slide-next">
                    <svg class="icon__arrow" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.2307 13.9898L27.4362 15.7794L38.4237 26.735L14 26.735L14 29.2664L38.4237 29.2664L27.4362 40.222L29.2307 42.0114L43.283 28L41.4884 26.2105L29.2307 13.9898ZM39.3858 28.3067L39.3858 27.692L39.6938 28L39.3858 28.3067ZM56 56L56 0L-4.89568e-06 4.89568e-06L0 56L56 56ZM2.54543 2.54544L53.4546 2.54544L53.4546 53.4546L2.54552 53.4546L2.54552 2.54544L2.54543 2.54544Z" fill="black"/>
                    </svg>
                </div>
  
                <!-- If we need scrollbar -->
                <!-- <div class="swiper-scrollbar philosophy__slide-scrollbar"></div> -->
            </div>
        </div>
    </div>
</section>