<section id="present" class="present-section">
    <div class="container">
        <div class="present__content">
            <h2 class="present__title"><span class="clr-mark">Underhood</span> is a remote development team</h2>
            <p class="present__text">Our mission:<br>Make people happy in digital world</p>
            <button type="submit" class="btn__get _animBtn">Get in touch</button>
        </div>
        <div class="scroll__icon">
            <object type="image/svg+xml" data="./img/svg/page-down.svg" width="100%" height="100%">
                <img src="./img/page-down.png" alt="↓">
            </object>              
        </div>
    </div>  <!-- /container -->
</section>  <!-- /section -->