<section id="technologies" class="technologies-section">
    <div class="container">
        <div class="technologies__content">
            <h2 class="technologies__title">Technologies</h2>
            <div class="technologies__container">
                <div class="technologies__cards">
                    <div class="technologies__card">
                        <div class="technologies__card-overlay"></div>
                        <div class="technologies__card-title">CI/CD</div>
                        <div class="technologies__card-icons">
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">Atlassian</span>
                                <object data="./img/svg/icon-atlassian.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">Composer</span>
                                <object data="./img/svg/icon-composer.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">Docker</span>
                                <object data="./img/svg/icon-docker.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">npm</span>
                                <object data="./img/svg/icon-npm.svg" type="image/svg+xml">
                                </object>
                            </div>
                        </div>
                        <div class="lottie-hint"></div>
                    </div>
                    <div class="technologies__card">
                        <div class="technologies__card-overlay"></div>
                        <div class="technologies__card-title">Frontend</div>
                        <div class="technologies__card-icons">
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">JavaScript</span>
                                <object data="./img/svg/icon-javascript.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">ExtJs</span>
                                <object data="./img/svg/icon-extjs.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">React</span>
                                <object data="./img/svg/icon-reactjs.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">Vue</span>
                                <object data="./img/svg/icon-vuejs.svg" type="image/svg+xml">
                                </object>
                            </div>
                        </div>
                        <div class="lottie-hint"></div>
                    </div>
                    <div class="technologies__card">
                        <div class="technologies__card-overlay"></div>
                        <div class="technologies__card-title">Backend</div>
                        <div class="technologies__card-icons">
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">PHP</span>
                                <object data="./img/svg/icon-php.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">Laminas</span>
                                <object data="./img/svg/icon-laminas.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">Doctrine</span>
                                <object data="./img/svg/icon-doctrine.svg" type="image/svg+xml">
                                </object>
                            </div>
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">Laravel</span>
                                <object data="./img/svg/icon-laravel.svg" type="image/svg+xml">
                                </object>
                            </div>
                        </div>
                        <div class="lottie-hint"></div>
                    </div>
                    <div class="technologies__card">
                        <div class="technologies__card-overlay"></div>
                        <div class="technologies__card-title">Database</div>
                        <div class="technologies__card-icons _lonely">
                            <div class="card-icon-wrap">
                                <span class="card-icon-name">PostgreSQL</span>
                                <object data="./img/svg/icon-postgresql.svg" type="image/svg+xml">
                                </object>
                            </div>
                        </div>
                        <div class="lottie-hint"></div>
                    </div>
                </div>

                <div class="technologies__scrollbar"></div>
                <!-- If we need pagination -->
                   <!-- <div class="swiper-pagination"></div>-->

                <!-- If we need navigation buttons -->
                <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
            </div>
        </div>
    </div>
</section>
